<%= form_with(model: ad, local: true) do |form| %>

  <% if can? :update, Ad, :title %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  <% end %>
  
  <% if can? :update, Ad, :description %>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>
  <% end %>

  <% if can? :update, Ad, :images %>
    <div class="field">
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
    </div>
  <% end %>

  <% if can? :update, Ad, :status %>
    <!-- <div class="field">
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
    </div> -->
  <% end %>

  <% if can? :update, Ad, :category %>
    <!-- <div class="field">
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true %>
    </div> -->
  <% end %>

  <div class="actions">
    <%= form.submit "Save Ad"%>
  </div>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
          <h2 class='text-center'>Edit this Advertising:</h3>
      </div>
      <div class="panel-body">
          <%= simple_form_for @ad do |f| %>
          <%= f.label :title, "Title"%>
          <%= f.input :title, label:false, required: true, placeholder: "Enter the name of your Ad" %>
          <%= f.input :description, label: "Description", required: true, hint: "Be short" %>
          <%= f.file_field :images, required: true, multiple: true %>
          <div class="text-center" style="margin-top: 30px"> 
            <%= f.button :submit, :class => "btn btn-lg btn-success" %>
            <%= link_to 'Back', user_ads_ads_path, class: "btn btn-lg btn-info" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>>
