<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading text-center">
          <h2 class='text-center'>Edit Advertising:</h2>
      </div>
      <div class="panel-body">
          <%= simple_form_for @ad do |f| %>
            <% if can? :update, Ad, :title %>
              <%= f.label :title, "Title" %>
              <%= f.input :title, label:false, required: true, placeholder: "Enter the name of your Ad" %>
            <% end %>  
            <% if can? :update, Ad, :description %>
              <%= f.label :description, "Description" %>
              <%= f.input :description, label: false, required: true, hint: "Be short" %>
            <% end %> 
            <% if can? :update, Ad, :status %>
              <%= f.label :status, "Status" %>
              <%= f.select :status, options_for_select([['new_ad', 1], ['published_ad', 4]]), label: false %>
            <% end %>
            <% if can? :update, Ad, :category %>
              <!-- <%= f.label :category, "Category" %> -->
              <!-- <%= f.select :category, collection: Ad.categories, label: false %> -->
            <% end %>
            <% if can? :update, Ad, :images %> 
                <h5>You can add more images to Advertising:</h5>
                <%= f.file_field :images, multiple: true, class: "btn btn-primary btn-sm" %>
                <br>
              <% if @ad.images.attached? %>
                <table class="table table-sm table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center">Image</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @ad.images.each do |image| %>
                      <tr>
                        <td class="text-center"><%= image_tag image.variant(resize: "80x80") %></td>
                        <td class="text-center"><%= link_to 'Delete', delete_image_ad_path(@ad, image_id: image), method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-sm btn-warning" %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <% end %>
            <% end %>

            <div class="text-center" style="margin-top: 30px"> 
              <%= f.button :submit, :class => "btn btn-lg btn-success" %>
              <%= link_to 'Show Ad', @ad, class: 'btn btn-lg btn-info' %> 
              <% if can? :user_ads, Ad%>
                <%= link_to 'Back', user_ads_ads_path, class: "btn btn-lg btn-info" %>
              <% else %>
                <%= link_to 'Back', main_app.root_path, class: "btn btn-lg btn-info" %>
              <% end %>  
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>>
