<%= form_with(model: ad, local: true) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :images %><br>
    <%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Save Ad"%>
  </div>
  
<% end %>
