<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-success">
        <div class="panel-heading text-center">
          <div class="row">
            <div class="col-md-6">
              <h2 class='text-right'>List of found ads:</h2>
            </div>
            <div class="col-md-6">
              <div class="text-left" style="margin-top: 20px">
                <%= form_tag( URI(request.referer).path, method: "get", remote: true, class: 'form-inline') do %>
                  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Enter search params" %>
                  <%= submit_tag "Search", class: 'btn btn-default btn-sm btn-submit' %>
                  <%= link_to 'Back', :back, class: 'btn btn-sm btn-warning' %>
                <% end %>  
              </div>    
            </div>
          </div>  
        </div>
        <div class="panel-body">
        <% unless @search_result_ads.empty? %>
            <table class="table table-sm table-bordered">
                <thead class='thead-dark'>
                  <tr>
                    <th class="text-center">Title</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">User_email</th>
                    <th class="text-center">Ad Type</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
            
                <tbody>
                  <% @search_result_ads.each do |ad| %>
                    <tr>
                      <td class="text-center"><%= ad.title %></td>
                      <td class="text-center"><%= truncate(ad.description, :length => 30) %></td>
                      <td class="text-center"><%= User.find(ad.user_id).email %></td>
                      <td class="text-center"><%= AdType.find(ad.ad_type_id).name %></td>
                      <td class="text-center">
                        <%= link_to 'Show', ad, class: 'btn btn-sm btn-primary' %>
                        <% if can? :update, ad %>
                          <%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-sm btn-primary' %>
                        <% end %>
                        <% if can? :destroy, ad %>
                          <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary' %>
                        <% end %>  
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          <% else %>
            <h2 class='text-center'>Sorry, no ads were found :(</h2>
          <% end %>
          </div>
        </div>
      </div>
  </div>