<h1 class='text-center'>List of published ads</h1>

<% unless @ads.empty? %>
  <table class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>User_email</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td><%= ad.title %></td>
          <td><%= truncate(ad.description, :length => 30) %></td>
          <td><%= User.find(ad.user_id).email %></td>
          <td>
            <%= link_to 'Show', ad, class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>The list is empty</h3>
<% end %>


