<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading text-center"><h2 class='text-center'>List of published ads</h3></div>
      <div class="panel-body">
      <% unless @ads.empty? %>
          <table class="table table-sm table-bordered">
              <thead class='thead-dark'>
                <tr>
                  <th class="text-center">Title</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">User_email</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
          
              <tbody>
                <% @ads.each do |ad| %>
                  <tr>
                    <td class="text-center"><%= ad.title %></td>
                    <td class="text-center"><%= truncate(ad.description, :length => 30) %></td>
                    <td class="text-center"><%= User.find(ad.user_id).email %></td>
                    <td class="text-center">
                      <%= link_to 'Show', ad, class: 'btn btn-sm btn-primary' %>
                      <% if can? :update, ad %>
                        <%= link_to 'Edit', edit_ad_path(ad), class: 'btn btn-sm btn-primary' %>
                      <% end %>
                      <% if can? :destroy, ad %>
                        <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-primary' %>
                      <% end %>  
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        <% else %>
          <h2 class='text-center'>The list is empty</h2>
          <p class='text-center'>You can add new Advertising <%= link_to 'Here', user_ads_ads_path, class: 'btn btn-sm btn-success' %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>




