<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>

<p>
  <strong>User_email:</strong>
  <%= User.find(@ad.user_id).email %>
</p>

<% if @ad.images.attached? %>
<p>
  <strong>Images:</strong>
  <br>
  <% @ad.images.each do |image| %>
    <%= image_tag image.variant(resize: "300x300") %>
  <% end %>
</p>
<% end %>
<% if can? :update, Ad, :title %>
<%= link_to 'Edit', edit_ad_path(@ad) %> 
<% end %>
<%= link_to 'Back', ads_path %>
